<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    <h1>
        <center> Landing Page partnerChefs8 </center>
    </h1>

    <a href="/chefs">
        <center>
            <button>
                Chefs
            </button>
        </center>
    </a>
    <br>
    <a href="/recipes">
        <center>
            <button>
                Recipes
            </button>
        </center>
    </a>
</body>
<style>
    button {
        border: none;
        border-radius: 5px 5px 5px 5px;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: rgb(8, 117, 168);
        text-align: center;
        cursor: pointer;
        width: 8%;
        font-size: 15px;
    }
</style>

</html>